#!/usr/bin/env node
// BASIC CONFIGURATION
/*

	These configuration settings are used to setup the requirements for a basic web server.
	If you only intend to serve basic web pages, then configure the settings here.

*/
var basic_cfg = {
	"app_port"			: 9027, 							// What port should our application run on?
	"realm_name"	: 'Boiled',					// What should be the name of the application?
	"description"		: 'Boiled application',
	"index_file"		: 'index.html'					// Our index file name - should be located in the /public folder
};



// ADVANCED CONFIGURATION
/*

	These configuration settings are more advanced and are used if you require expert-level features.
	For example, if you wish to make use of routing or set a view engine, then you can set that here.
	Authentication details are also set here.

*/
var adv_cfg	=	{
	"use_routing"		: true,							// Do you wish to use routing?
	"view_engine"		: "ejs",							// What view engine are you using?
	"override_xpb"	: true,							// Should we override the 'x-powered-by' header with our realm_name?
	"use_auth"			: false, 							// Should we use authentication?
	"public_route"		: "/public",						// Users will be transparently served files from public directory when using this location (e.g. example.com/ will serve index_file from /public/ folder)
	"compress"		: true,							// Should we use compression?
};

module.exports.cfg					= basic_cfg;
module.exports.adv_cfg			= adv_cfg;
require("./application/application.js");